[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:kawanamelung/nvim.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:kawanamelung/secrets.git
[submodule "scripts/ascii_treez"]
	path = scripts/ascii_treez
	url = git@github.com:kawanamelung/ascii_treez.git
